<header class="full-header">
  <nav class="navbar navbar-default">
    <div class="top-bar">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 hidden-xs"> Now 547,684 packages we delivery to <span class="numbers">8.903</span> stores </div>
          <!-- end col-6 -->
          <div class="col-md-3 col-sm-2 col-xs-4">
            <div class="language dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="assets/images/flag-en.jpg" alt="Image">Language</a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">English</a></li>
                <li><a href="#">አማርኛ</a></li>
                <li><a href="#">Afaan Oromoo</a></li>
                <li><a href="#">ትግርኛ</a></li>
                <li><a href="#">Afar</a></li>
                <li><a href="#">Af Somali</a></li>
              </ul>
              <!-- <option value="english" <?php if($this->session->userdata('site_lang') == 'english') echo 'selected="selected"'; ?>>English</option>
              <option value="amharic" <?php if($this->session->userdata('site_lang') == 'amharic') echo 'selected="selected"'; ?>>አማርኛ</option> -->
              <!-- <option value="#">Afaan Oromoo</option>
              <option value="#">ትግርኛ</option>
              <option value="#">Afar</option>
              <option value="#">Sumali</option> -->
            </div>
          </div>
          <!-- end col-3 -->
          <div class="col-md-3 col-sm-4 col-xs-8"> <span class="date">12 Mar </span> <span class="weather"><i class="ion-ios-partlysunny"></i> 15°</span> <span class="phone"><i class="ion-ios-telephone"></i> <a href="tel:1234">1234</a></span> </div>
          <!-- end col-3 --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end top-bar -->
    <div class="fluid-container">
      <div class="navbar-header">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-12">
            <button type="button" class="navbar-toggle toggle-menu menu-left push-body collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Image"></a> </div>
          <!-- end col-5 -->
          <div class="col-md-3 col-sm-4 hidden-xs"> <i class="icon-global"></i>
            <h6>OPENING HOURS<br>
              <span>MON-FRI 07:00 - 18:00 </span></h6>
          </div>
          <!-- end col-2 -->
          <div class="col-md-3 col-sm-4 hidden-xs"> <i class="icon-map-pin"></i>
            <h6>OUR LOCATION<br>
              <span>Addis Ababa - Ethiopia</span></h6>
          </div>
          <!-- end col-2 -->
          <div class="col-md-3 hidden-sm hidden-xs"> <i class="icon-chat"></i>
            <h6>QUICK SUPPORT<br>
              <span>info@okdelivery.com</span></h6>
          </div>
          <!-- end col-2 --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end navbar-header -->
      <div class="navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav main-menu">
          <li><a href="#" class="transition">HOME</a></li>
          <li><a href="#" class="transition">ABOUT US</a></li>
          <li><a href="#" class="transition">DEALERS</a></li>
          <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" class="transition">Trade Services</a></li>
              <li><a href="#" class="transition">Dry Cargo</a></li>
              <li><a href="#" class="transition">Reefer Cargo</a></li>
              <li><a href="#" class="transition">Oversized &amp; Breakbulk Cargo</a></li>
              <li><a href="#" class="transition">Intermodal</a></li>
              <li><a href="#" class="transition">Warehousing &amp; Storage </a></li>
              <li><a href="#" class="transition">Cross Trading</a></li>
              <li><a href="#" class="transition">Cargo Trailers</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">PAGES</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" class="transition">VEHICLES</a></li>
              <li><a href="#" class="transition">GALLERY</a></li>
              <li><a href="#" class="transition">CAREER</a></li>
              <li><a href="#" class="transition">MASONRY</a></li>
              <li><a href="#" class="transition">VIDEO</a></li>
              <li><a href="#" class="transition">ELEMENTS</a></li>
            </ul>
          </li>
          <li><a href="#" class="transition">NEWS</a></li>
          <li><a href="#" class="transition">CONTACT</a></li>
        </ul>
        <ul class="nav navbar-nav social-nav visible-lg visible-xs">
          <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="ion-social-facebook"></i></a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="ion-social-twitter"></i></a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+"><i class="ion-social-googleplus"></i></a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Youtube"><i class="ion-social-youtube"></i></a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Vimeo"><i class="ion-social-vimeo"></i></a></li>
        </ul>
        <ul class="nav navbar-nav icon-nav hidden-sm">
          <li><a href="#" class="hamburger-menu"><i class="ion-navicon"></i></a></li>
          <li><a href="#" class="search-btn"><i class="ion-search"></i></a></li>
          <li><a href="#"><i class="ion-android-cart"></i></a></li>
          <li class="search-box">
            <form>
              <input type="text" placeholder="Type here">
              <button type="submit"><i class="ion-chevron-right"></i></button>
            </form>
          </li>
        </ul>
      </div>
      <!-- end navbar-collapse --> 
    </div>
    <!-- end container --> 
  </nav>
</header>