<section class="steps-features">
    <div class="container">
      <div class="row spacing">
        <div class="col-md-4 col-sm-4 spacing">
          <div class="step-box bg-1"> <span>01</span>
            <h3>PACKING </h3>
            <h5>STORAGES</h5>
            <a href="#">READ MORE</a> </div>
          <!-- end step-box --> 
        </div>
        <!-- end col-4 -->
        <div class="col-md-4 col-sm-4 spacing">
          <div class="step-box bg-2 featured"> <span>02</span>
            <h3>LANDING</h3>
            <h5>FEATURES</h5>
            <a href="#">READ MORE</a> </div>
          <!-- end step-box --> 
        </div>
        <!-- end col-4 -->
        <div class="col-md-4 col-sm-4 spacing">
          <div class="step-box bg-3"> <span>03</span>
            <h3>DELIVERY</h3>
            <h5>SERVICES</h5>
            <a href="#">READ MORE</a> </div>
          <!-- end step-box --> 
        </div>
        <!-- end col-4 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>

  