<section class="featured-services">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="left-side">
            <h3 class="section-title"><span>01</span>PACKING &amp; STORAGE</h3>
            <p>Bringing you industry-specific expertise; whatever you’re shipping, wherever you’re shipping it. </p>
            <ul>
              <li>Ok Delivery delivers a professional, efficient service </li>
              <li>Tailored to the specific needs of your business.</li>
              <li>Our services are designed around you.</li>
            </ul>
          </div>
          <!-- end left-side --> 
        </div>
        <!-- end col-5 -->
        <div class="col-md-7">
          <div class="right-side">
            <div class="service-box">
              <figure><img src="assets/images/icon01.png" alt="Image">
                <figcaption>SEA SHIPPING</figcaption>
              </figure>
              <div class="desc"> We want to ensure that it’s as easy as possible to use the site to get.</div>
              <!-- end desc --> 
            </div>
            <!-- end service-box -->
            <div class="service-box spacing">
              <figure><img src="assets/images/icon02.png" alt="Image">
                <figcaption>AIR SHIPPING</figcaption>
              </figure>
              <div class="desc"> Shipments moving, whether you’ve worked with us for years completely new.</div>
              <!-- end desc --> 
            </div>
            <!-- end service-box -->
            <div class="service-box">
              <figure><img src="assets/images/icon03.png" alt="Image">
                <figcaption>LAND SHIPPING</figcaption>
              </figure>
              <div class="desc">International shipping. For further assistance, please get in touch. </div>
              <!-- end desc --> 
            </div>
            <!-- end service-box --> 
          </div>
          <!-- end right-side --> 
        </div>
        <!-- end col-7 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>