<section class="slider">
    <div class="fixed-form">
      <div class="container">
        <h3>LOGISTICS</h3>
        <h5>Check your delivery easily &amp; quickly</h5>
        <form>
          <input type="text" placeholder="Tracking ID">
          &nbsp;
          <input type="text" class="datepicker" placeholder="Date">
          &nbsp;
          <button type="submit">CHECK SHIPPING</button>
        </form>
      </div>
      <!-- end container --> 
    </div>
    <!-- end fixed-form -->
    <div class="main-slider slick-initialized slick-slider" role="toolbar">
      <div aria-live="polite" class="slick-list draggable">
        <div class="slick-track" role="listbox">
            <div class="slide1 slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00" > </div>
            <div class="slide2 slick-slide" data-slick-index="1" aria-hidden="true" tabindex="0" role="option" aria-describedby="slick-slide01" > </div>
        </div>
       </div>
      <!-- end slider1 -->
      
      <!-- end slider2 -->
      
      <!-- end slider3 --> 
    <ul class="slick-dots" role="tablist">
        <li class="" aria-hidden="true" role="presentation" aria-selected="true" aria-controls="navigation00" id="slick-slide00">
            <button type="button" data-role="none" role="button" aria-required="false" tabindex="0">1</button></li>
        <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation01" id="slick-slide01" class="">
            <button type="button" data-role="none" role="button" aria-required="false" tabindex="0">2</button></li>
        <li aria-hidden="false" role="presentation" aria-selected="false" aria-controls="navigation02" id="slick-slide02" class="slick-active">
            <button type="button" data-role="none" role="button" aria-required="false" tabindex="0">3</button></li>
    </ul>
</div>
  </section>