<section class="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="content-carousel slick-initialized slick-slider" role="toolbar">
            <div aria-live="polite" class="slick-list draggable">
                <div class="slick-track" role="listbox">
                    <div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" >
                        <figure><img src="assets/images/testimonial-head3.png" alt="Image"></figure>
                        <blockquote>Our sea freight offering is complemented by our integrated warehousing and haulage services, which enable us to offer a true door-to-door service. As a company, we believe in operating as independent national carriers, this means we’re able to offer you a global.</blockquote>
                        <i class="ion-android-hangout"></i>
                        <h4>Chris O'Conner</h4>
                        <small>SENIOR MARKETTING</small> 
                    </div>
                    <div class="slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide10">
                        <figure><img src="assets/images/testimonial-head1.png" alt="Image"></figure>
                        <blockquote>Ok Delivery is a world leader in global container shipping and a company offering global service with local knowledge. Ok Delivery also provides integrated network of road, rail and sea transport resources which stretches across the globe.</blockquote>
                        <i class="ion-android-hangout"></i>
                        <h4>Mark Zuckerberg</h4>
                        <small>PRODUCT MANAGER</small> 
                    </div>
                    <div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide11" >
              <figure><img src="assets/images/testimonial-head2.png" alt="Image"></figure>
              <blockquote>We are a privately owned global organisation operating a network of over 480 offices in 150 countries, employing a team of over 24,000 dedicated individuals. We have an established fleet of 480 container vessels with an intake capacity</blockquote>
              <i class="ion-android-hangout"></i>
              <h4>Jessica Carter</h4>
              <small>SHIPPING DIRECTOR</small> </div><div class="slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide12" >
              <figure><img src="assets/images/testimonial-head3.png" alt="Image"></figure>
              <blockquote>Our sea freight offering is complemented by our integrated warehousing and haulage services, which enable us to offer a true door-to-door service. As a company, we believe in operating as independent national carriers, this means we’re able to offer you a global.</blockquote>
              <i class="ion-android-hangout"></i>
              <h4>Chris O'Conner</h4>
              <small>SENIOR MARKETTING</small> </div><div class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" tabindex="-1" >
              <figure><img src="assets/images/testimonial-head1.png" alt="Image"></figure>
              <blockquote>Ok Delivery is a world leader in global container shipping and a company offering global service with local knowledge. Ok Delivery also provides integrated network of road, rail and sea transport resources which stretches across the globe.</blockquote>
              <i class="ion-android-hangout"></i>
              <h4>Mark Zuckerberg</h4>
              <small>PRODUCT MANAGER</small> </div></div></div>
            <!-- end div -->
            
            <!-- end div -->
            
            <!-- end div --> 
          <ul class="slick-dots" role="tablist">
            <li class="" aria-hidden="true" role="presentation" aria-selected="true" aria-controls="navigation10" id="slick-slide10">
                <button type="button" data-role="none" role="button" aria-required="false" tabindex="0">1</button>
            </li>
            <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation11" id="slick-slide11" class="">
                <button type="button" data-role="none" role="button" aria-required="false" tabindex="0">2</button>
            </li>
            <li aria-hidden="false" role="presentation" aria-selected="false" aria-controls="navigation12" id="slick-slide12" class="slick-active">
                <button type="button" data-role="none" role="button" aria-required="false" tabindex="0">3</button>
            </li>
          </ul>
        </div>
          <!-- end content-carousel --> 
        </div>
        <!-- end col-12 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>