<section class="calculate-shipping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <h3 class="section-title"><span>02</span>CALCULATE SHIPPING </h3>
          <form>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group radio-field">
                  <label>Distance</label>
                  <span class="holder">
                  <input type="radio" name="flexRadioDefault" id="radio1" checked="">
                  Domestic</span> <span class="holder">
                  <input type="radio" name="flexRadioDefault" id="radio1">
                  International</span> </div>
                <!-- end form-group -->
                <div class="form-group">
                  <label>Weight</label>
                  <input type="text">
                </div>
                <!-- end form-group -->
                <div class="form-group size-field">
                  <label>Cargo Size</label>
                  <input type="text" placeholder="cm">
                  <span>x</span>
                  <input type="text" placeholder="cm">
                </div>
                <!-- end form-group -->
                
                <div class="form-group">
                  <label>Fragile</label>
                  <select class="selectpicker bs-select-hidden">
                    <option>YES</option>
                    <option>NO</option>
                  </select><div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="YES"><span class="filter-option pull-left">YES</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="null"><span class="text">YES</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" data-tokens="null"><span class="text">NO</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div></div>
                </div>
                <!-- end form-group --> 
              </div>
              <!-- col-6 -->
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label>Extra Services</label>
                  <span class="full-block">
                  <input type="checkbox" checked="">
                  Quick Delivery</span> <span class="full-block">
                  <input type="checkbox">
                  Warranty</span> <span class="full-block">
                  <input type="checkbox">
                  Gift Box</span> </div>
                <!-- end form-group -->
                <div class="form-group"> <small>The Field below will show the double of the number about $</small> </div>
                <!-- end form-group -->
                <div class="form-group">
                  <input type="text" value="$200" disabled="">
                </div>
                <!-- end form-group -->
                <div class="form-group">
                  <button type="submit">CALCULATE</button>
                </div>
                <!-- end form-group --> 
              </div>
              <!-- col-6 --> 
            </div>
            <!-- end row -->
          </form>
        </div>
        <!-- end col-8 -->
        <div class="col-md-4 hidden-sm hidden-xs">
          <figure> <img src="assets/images/calculate-man.jpg" alt="Image"> </figure>
        </div>
        <!-- end col-4 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>