<section class="latest-news">
    <div class="container">
      <div class="row spacing">
        <div class="col-xs-12 spacing">
          <h3 class="section-title"><span>03</span>LATEST NEWS</h3>
        </div>
        <!-- end col-12 -->
        <div class="col-md-4 col-sm-6 spacing">
          <div class="news-box">
            <figure><img src="assets/images/news1.jpg" alt="Image"><span class="date">02/OCT</span></figure>
            <div class="news-caption">
              <h4>Social and demographic information</h4>
              <p>There are no hidden costs associated with our transportation services</p>
              <a href="#">READ MORE</a> </div>
            <!-- end news-caption --> 
          </div>
          <!-- end news-box --> 
        </div>
        <!-- end col-4 -->
        <div class="col-md-4 col-sm-6 hidden-xs spacing">
          <div class="news-box">
            <div class="news-caption">
              <h4>Team member to discuss our meeting</h4>
              <p>Offers you peace-of-mind that we’ll be on-hand to help whenever you need us.</p>
              <a href="#">READ MORE</a> </div>
            <!-- end news-caption -->
            <figure><img src="assets/images/news2.jpg" alt="Image"><span class="date">02/OCT</span></figure>
          </div>
          <!-- end news-box --> 
        </div>
        <!-- end col-4 -->
        <div class="col-md-4 hidden-sm spacing">
          <div class="news-box">
            <figure><img src="assets/images/news3.jpg" alt="Image"><span class="date">02/OCT</span></figure>
            <div class="news-caption">
              <h4>Financial Institutions changes control</h4>
              <p>As a company, we believe in operating as independent national carriers.</p>
              <a href="#">READ MORE</a> </div>
            <!-- end news-caption --> 
          </div>
          <!-- end news-box --> 
        </div>
        <!-- end col-4 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>

  <section class="clients">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li>
              <figure>
                <h5><img src="assets/images/logo1.jpg" alt="Image"></h5>
              </figure>
            </li>
            <li>
              <figure>
                <h5><img src="assets/images/logo2.jpg" alt="Image"></h5>
              </figure>
            </li>
            <li>
              <figure>
                <h5><img src="assets/images/logo3.jpg" alt="Image"></h5>
              </figure>
            </li>
            <li>
              <figure>
                <h5><img src="assets/images/logo4.jpg" alt="Image"></h5>
              </figure>
            </li>
            <li>
              <figure>
                <h5><img src="assets/images/logo5.jpg" alt="Image"></h5>
              </figure>
            </li>
            <li>
              <figure>
                <h5><img src="assets/images/logo6.jpg" alt="Image"></h5>
              </figure>
            </li>
          </ul>
        </div>
        <!-- end col-12 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>